.head-content {
  position: sticky;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  color: #ffffff;
  > div {
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    p {
      margin: 0;
      font-weight: 700;
      font-size: 32px;
    }
    > .i-letter-styling {
      background: linear-gradient(to top, #ffffff 65%, #ff4747 35%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    > .n-letter-styling {
      background: linear-gradient(to right, #ffffff 34%, #fa7902 34%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  > .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    > div {
      display: flex;
      flex-direction: column;
      a {
        margin-right: 40px;

        font-size: 24px;
        text-decoration: none;
        color: #ffffff;
        &:hover {
          color: #fa7902;
        }
      }
    }
  }
}

.active-link {
  color: #fa7902 !important;
}

.active-underline {
  background-color: #ff4747;
  margin-bottom: -4px;
  width: 56px;
  height: 3px;
}
