<section class="head-content fontfam-poppins">
  <div class="prename-container">
    <!--<h3>Sebastian Wolff</h3>-->
    <p>S</p>
    <p>e</p>
    <p>b</p>
    <p>a</p>
    <p>s</p>
    <p>t</p>
    <p class="i-letter-styling">i</p>
    <p>a</p>
    <p class="n-letter-styling">n</p>
  </div>
  <div class="links">
    <div>
      <a (click)="toggleActiveLink('aboutMe')" [class.active-link]="aboutMe" href="#">About me</a>
      <div [class.active-underline]="aboutMe"></div>
    </div>
    <div>
      <a (click)="toggleActiveLink('skills')" [class.active-link]="skills" href="#">Skills</a>
      <div [class.active-underline]="skills"></div>
    </div>
    <div>
      <a (click)="toggleActiveLink('portfolio')" [class.active-link]="portfolio" href="#">Portfolio</a>
      <div [class.active-underline]="portfolio"></div>
    </div>
  </div>
</section>
