.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141d2f;
  color: #ffffff;
  margin-top: -120px;
  > .c-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    > h2 {
      font-size: 100px;
      margin-right: 40px;
    }
    > .contact-transition-line {
      background-color: #e86f00;
      width: 560px;
      height: 5px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
  }
  > .contact-form-content {
    display: flex;
    width: 100%;
    margin-top: 120px;
    flex-direction: row;
    justify-content: space-between;
    > .problem-section {
      width: 50%;
      display: flex;
      flex-direction: column;
      > .problem-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        > .purple-transition {
          width: 80px;
          height: 5px;
          background-color: #d61ce6;
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
        }
        > h4 {
          margin-left: 40px;
          font-size: 40px;
          font-weight: 600;
        }
      }
      > .problem-content {
        margin-left: 120px;
        margin-top: 40px;
        > p {
          margin-bottom: 30px;
        }
      }
    }
    > .form-content {
      width: 50%;
      > form {
        margin-right: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        > .input-container {
            width: 100%;
            margin-bottom: 40px;
          > input [type="email"],
          [type="text"],
          textarea,
          ::placeholder {
            font-family: "Poppins";
            color: #ffffff;
          }
          > input[type="email"],
          [type="text"],
          textarea {
            width: 95%;
            padding: 16px;
            border: 1px solid #ff4747;
            background-color: #141d2f;
            border-radius: 12px;
            font-size: 16px;
            font-weight: 400;
            resize: vertical;
            color: #ffffff;
            
            &:hover {
              border-color: #e86f00;
              cursor: pointer;
            }
            &:focus {
              background-color: #141d2f;
              outline: none !important;
              border: 2px solid #ff4747;
            }
          }
          > textarea {
            background-position: 95% 8%;
            margin-bottom: 8px;
          }
          > .message-warning {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 91%;
            color: #ff4747;
            font-size: 15px;
          }
        }
        > .checkbox-validation {
          width: 94%;
          position: relative;
          display: flex;
          align-items: center;
          flex-direction: row;
          margin-bottom: 40px;
          >input {
            position: absolute;
            
            opacity: 0;
            height: 20px;
            width: 20px;
            z-index: 123123;
            &:hover .checkbox {
              cursor: pointer;
            }
          }
          >.checkbox {
            position: absolute;
            top: 0;
            left: 0px;
            height: 20px;
            width: 20px;
            border: 3px #e86f00 solid;
            border-radius: 4px;
            background-color: #141d2f;
            &:hover {
              cursor: pointer;
              background-color: #183771;
            }
            &::after {
              content: '';
              position: absolute;
              display: none;
            }
          }
          > p {
            font-size: 14px;
            margin-left: 16px;
          }
        }
        >.submit-btn {
          height: 80px;
          width: 350px;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          > input[type="submit"] {
            height: 60px;
            width: 250px;
            font-size: 24px;
            background-color: #b6b6b6;
            color: #ffffff;
            border: 1px solid #b6b6b6;
            border-radius: 8px;
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
              height: 80px;
              width: 300px;
            }
          }
        }
      }
    }
  }
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-untouched {
  background-image: none !important;
}

.ng-invalid:not(form)  {
  background-image: url("/assets/images/icons/invalid.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
