<section class="about-me-section fontfam-poppins">
  <div class="left-cont">
    <div class="about-me-content">
      <h1>About me</h1>
      <p>
        Hi, I am a Front-end developer based in Thüringen, Germany. I'm
        specialized in bringing ideas to life for designers and companies.
        Creativity and logical thinking are my strengths in connecting concepts
        to quality products. If you believe I'd be a good fit for your projects,
        feel free to get in touch!
      </p>
      <div class="pair">
        <div>
          <img src="/assets/images/icons/bulb_white.png" />
        </div>
        <p>
          Since 2022, I've been enrolled in a part-time Bachelor's program in
          "Informatik", immersing myself in the diverse aspects of technology.
          Currently, I'm also undergoing an intensive Bootcamp program
          specializing in Frontend Development, aiming to further refine my
          practical skills and accelerate my growth. This dual educational
          journey has equipped me with a good theoretical foundation and strong
          practical insights into current industry practices.
        </p>
      </div>
      <div class="pair">
        <div>
          <img src="/assets/images/icons/puzzle_white.png" />
        </div>
        <p>
          My nursing background since 2016 has enhanced my teamwork and
          adaptability skills. Working in healthcare emphasized collaboration,
          communication, and staying composed under pressure. These qualities,
          along with empathy and problem-solving abilities, are assets I bring
          to my role as a Frontend Developer, ensuring effective collaboration
          and client-focused project delivery.
        </p>
      </div>
    </div>
  </div>
  <div class="right-cont">
    <img class="shape" src="/assets/images/shapes/about_me_colors.png" />
    <img class="picture" src="/assets/images/pics/me1.png" />
  </div>
</section>
<section class="wave-transition">
  <img src="/assets/images/shapes/wave.png" />
  <app-skills id="skills" class="skills-section"></app-skills>
</section>
