<section class="about-me-section fontfam-poppins">
  <div class="left-cont">
    <div class="about-me-content">
      <h1>About me</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum,
        doloremque! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        In, dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Sint quos atque voluptates accusamus et nihil unde consectetur. Autem,
        exercitationem ipsa.
      </p>
      <div class="pair">
        <div>
          <img src="/assets/images/icons/bulb_white.png" />
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur,
          mollitia Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Dolorem, enim??
        </p>
      </div>
      <div class="pair">
        <div>
          <img src="/assets/images/icons/puzzle_white.png" />
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, eum.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit, nemo!
        </p>
      </div>
    </div>
  </div>
  <div class="right-cont">
    <img src="/assets/images/shapes/about_me_colors.png" />
  </div>
</section>
