.pf-section {
  display: flex;
  flex-direction: column;
  background-color: #141d2f;
  color: #ffffff;
  > .pf-header {
    display: flex;
    flex-direction: column;
    > .pf-header-transition-cont {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      overflow: hidden;
      background-color: #141d2f;
      margin-top: -180px;
      > .pf-head-transition {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -250px;
        > div {
          height: 5px;
          width: 80px;
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
          background-color: #ff4747;
        }
        > h2 {
          font-size: 100px;
          margin-left: 40px;
        }
      }
      > img {
        position: relative;
        right: -380px;
        top: 10px;
      }
    }
    > p {
      margin-left: 120px;
      margin-top: -430px;
    }
  }
  > .portfolio-cards {
    
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    background-color: #141d2f;
    > .projects-cards {
      position: relative;
      overflow: hidden;
      background-color: #141d2f;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 600px;
      width: 650px;
      margin-bottom: 40px;
      border: 1px solid #e86f00;
      border-radius: 12px;
      transition: all 0.9s;
      >img {
        transition: all 0.4s ease;
        filter: drop-shadow(-285px 145px 150px rgba(0,0,0,0.9));
      }
      &:hover img {
        transition: all 0.4s ease;
        margin-top: -80px;
        margin-right: -16px;
        transform-origin: center;
        transform: scale(1.7);
        filter: brightness(50%);
      }
      &:hover .overlay {
        opacity: 1;
      }
      > .overlay {
        transition: all 0.4s ease;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        >.git-live-link {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 50%;
          align-items: center;
          height: 45%;
          >a {
            text-decoration: none;
            color: #ffffff;
            font-size: 24px;
            width: 120px;
            height: 40px;
            text-align: center;
            padding-top: 8px;
          }
          >.git-link {
            border: 2px solid #e86f00;
            border-radius: 12px;
            &:hover {
              background-color: #d61ce6;
              border: 2px solid #d61ce6;
            }
          }
          >.live-link {
            border: 2px solid #e86f00;
            background-color: #e86f00;
            border-radius: 12px;
            &:hover {
              background-color: #ff4747;
              border: 2px solid #ff4747;
            }
          }
        }
        >.pf-info-cont {
          height: 55%;
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          align-items: center;
          background-color: #ffffff;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          >h4 {
            color: #ff4747;
            font-size: 28px;
          }
          >p {
            color: #000000;
            font-size: 24px;
            padding-left: 16px;
            padding-right: 16px;
            text-align: center;
          }
          >.used-tech {
            color: #e86f00;
            font-size: 24px;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
  >.pf-orange-shadow {
    margin-top: -750px;
    overflow: hidden;
    margin-left: -600px;
  }
}
