<section class="pf-section fontfam-poppins">
  <div class="pf-header">
    <div class="pf-header-transition-cont">
      <div class="pf-head-transition">
        <div></div>
        <h2>Portfolio</h2>
      </div>
      <img src="/assets/images/shapes/purple_shadow_pf.png">
    </div>
    <p>
      This page is a sample of my work! Scroll down to view other <br />
      projects I have developed.
    </p>
  </div>
  <div class="portfolio-cards">
    <div class="projects-cards" *ngFor="let card of portfolioImages; let i = index">
      <img src="{{card}}">
      <div class="overlay">
        <div class="git-live-link">
          <a class="git-link" href="#">Github</a>
          <a class="live-link" href="#">Live test</a>
        </div>
        <div class="pf-info-cont">
          <h4>Sharkie</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, nesciunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt totam consequatur maiores!</p>
          <div class="used-tech">
            <p>JavaScript | HTML | CSS</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
