.imprint {
    background-color: #141d2f;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 120px;
    @media(max-width: 1450px) {
     padding: 90px;     
    }
    > .heading {
        font-size: 100px;
    }
    > .tmg-heading {
        font-size: 40px;
        font-weight: 500;
        margin-top: 40px;
        margin-bottom: 32px;
    }
    >.address-tab {
        font-size: 24px;
        font-weight: 200;
    }
    >.contact-heading {
        font-size: 40px;
        font-weight: 500;
        margin-top: 40px;
        margin-bottom: 32px;
    }
    >.phone-mail {
        font-size: 24px;
        font-weight: 200;
        >.no-style {
            text-decoration: none;
            color: #ffffff;
        }
    }
}