<section class="welcome-content fontfam-poppins">
  <div class="left-shape">
    <img src="/assets/images/shapes/orange_shadow.png" />
  </div>
  <div class="middle-content">
    <p>I am</p>
    <div>
      <h1>Sebastian Wolff</h1>
      <h3>Frontend Developer</h3>
    </div>
  </div>
  <div class="talk-btn">
    <a href="#contact">
      <button>Let's talk!</button>
    </a>
  </div>
  <div class="right-shape">
    <img src="/assets/images/shapes/purple_shadow.png" />
  </div>
</section>
<section class="section-transition">
  <div class="left-transition">
    <div class="orange-line"></div>
    <app-socilinks class="soc-links-cont"></app-socilinks>
  </div>
  <div class="right-transition">
    <p class="fontfam-poppins">Scroll down</p>
    <img src="/assets/images/icons/arrow_white.png">
  </div>
</section>
